

#divleft {
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 50px;
    background-color: rgb(212, 129, 33);
    margin-top: 25px; 
}

#divright {
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 50px;
    background-color: rgb(212, 129, 33);
    text-align: right;
    margin-top: 25px;
}

#Adotar {
  width: 50%;
  height: 30px;
  background-color: rgb(212, 129, 33);
  
}
.btn-btn-Favoritos {
  width: 50%;
  height: 30px;
  background-color: rgb(190, 26, 7);
  
}


body {
color:  rgb(212, 129, 33);
}

.bg-laranja {
  background-color: rgb(212, 129, 33);
}

.card_custom {
  width: 20rem;
  margin: 2rem;
}

.image-grid-container {
  display: grid;

}

img.footer-logo {
  max-height: 60px;
  width: 60px;
}


#imgpos {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-110px;
  margin-top:-40px;
  }

.search-sec{
    padding: 1rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgb(217, 143, 46);
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}

.accordion{
  font-family: 'Lucida Console', 'Courier New', monospace;
  margin: auto;
  background-color: #7dc197;

  

}
.card-body{
  background-color: #007fff;
}
