body {
color:  rgb(212, 129, 33);
}

.bg-laranja {
  background-color: rgb(212, 129, 33);
}

.card_custom {
  width: 20rem;
  margin: 2rem;
}

.image-grid-container {
  display: grid;

}

img {
  width: 100%;
}

#imgpos {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-110px;
  margin-top:-40px;
  }